<meta name="viewport" content="width=desktop-980px, initial-scale=1.0"> 
<meta name="viewport" content="width=tablet-748, initial-scale=1.0"> 
<meta name="viewport" content="width=mobile-640, initial-scale=1.0"> 

<style>
#nav{list-style-type: none;}

nav li a {
    color: aliceblue;
    text-emphasis: emphasis;
    padding: 3px;
    display:block;
}
@media screen and {max-width:980px}
#nav li a{padding: 30px; background: -moz-linear-gradient()}

@media screen and {max-width:768}

@media screen and {max-width;640}


header{static}
-body


-body{margin: 0;width: 960px;height: 495px; ;font-family: Arial, Helvetica, sans-serif;}
div,section,aside,header,p,footer{border:40px solid rgb(102, 99, 99);
    padding: 15px; text-align: center; font-size: 18px; display: block;b background-color: rgba(218, 214, 214, 0.589); clear: left;}

-div{display: grid; float: left; clear: both; overflow: auto}

-aside{display:grid; float: right; align-self: center ;clear: both; overflow-x: auto; overflow-y: auto }

div:hover{color: rgba(230, 5, 5, 0.932)}
 




<-body>